.navColor {
  background: rgb(44, 51, 51);
}
html,
body {
  min-height: 100%;
  min-width: 100%;
}
/* https://colorhunt.co/palette/2c3333395b64a5c9cae7f6f2 */
/* Footer problem was later solved by placing the footer in the productlist component creation */
